.main{
    background: #eeeeee;
    height: calc(100vh - 70px);
    z-index: 0;
}
.register-page{
    &__bg-image{
        position: absolute;
        z-index: 1;
        top: 30px;
        width: 900px;
        right: 200px;

        height: auto;
        & > img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: 0.2s;
            &:hover{
                // transform: scale(0.98);
                filter: drop-shadow(-10px 12px 3px rgba(29, 99, 41, 0.37));
            }
        }
    }
}

.register-page__register-form{
    position: relative;
    z-index: 2;
    left: 100px;
    top: 100px;
}