input{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #737373;
        text-align: center;
        width: 395px;
        height: 65px;
        background: #FFFFFF;
        border: 1px solid #9F9F9F;
        border-radius: 15px;
}