
.moderator {

    &__container {
        padding-top: 80px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: max-content;
    }

    &__card {
        align-self: flex-start;
        display: flex;
        background: #FFFFFF;
        box-shadow: 15px 15px 8px rgba(0, 0, 0, 0.25);
        border-radius: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        width: 400px;
        height: 75px;
    }
    &__name {
        font-size: 36px;
        font-weight: 700;
    }
    &__role {
        color: #3B994A;
    }
}

.reports__text {
    font-size: 42px;
    margin-top: 40px;
    width: 250px;
    text-align: right;
    align-self: flex-end;
}
.reports__container {
    margin-top: 40px;
    background: #FFFFFF;
    padding: 40px;
    box-shadow: 12px 15px 8px rgba(0, 0, 0, 0.25);
    border-radius: 36px;

    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
